html {
    position: relative;
}

body {
    margin-bottom: 120px;
}


.jumbotron img {
    width: 200px;
    border: 4px solid #666;

}

hr {
    width: 250px;
    border-top: 4px solid #999;
}

section {
    min-height: 600px;
}

.portfolio {
    background-color: rgb(233, 233, 233);
}

footer {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    background-color: skyblue;
    padding-top: 8px;
}

footer p {
    color: aliceblue;
    font-size: 0.9em;

}

.contact {
    min-height: 700px;
}
#portfolio .container{
    padding-bottom: 30px;
    padding-top : 30px;
}